
* { 
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(255,255,255);
	margin: auto;
}

h1 {
	position: relative;
}

p {
	position: relative;
	margin-right: 20px;
}

img {
	position: relative;
	margin-left: -25px;
	margin-top: -25px;
	height: 100px;
    width: 100px;
}

#win {
	text-align: center;
	/*border: solid 3px black;*/
	position: fixed;
    left: 0%;
    top: 0%;
    z-index: 1;

    height: 100%;
    /*margin-top: -150px;*/

    width: 100%;
    /*margin-left: -200px;*/
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    display: none;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}


#win_center {
	position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 1;
}



input[id="rb_circle"]:checked ~ #square_home {
  display: none;
}

input[id="rb_square"]:checked ~ #circle_home {
  display: none;
}

input[id="rb_circle"]:checked ~ #rb_s {
  display: none;
}

input[id="rb_square"]:checked ~ #rb_c {
  display: none;
}

.node {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	width: 50px;
	height: 50px;
}

.edge {
	content:"";
	position: absolute;
	border-top: 5px solid black;
	transform-origin: 0% 0%;
	}


#square {
	position: relative;
	background-color: #09f;
	margin: 0px auto;
	width: 400px;
	height: 400px;
	border: 5px solid black;
}

#sv {
	width: 390px;
	transform: rotate(90deg);
	top: 0px;
	left: 197.5px;
}

#sh {
	width: 390px;
	top: 192.5px;
	left: 0px;
}

#sa {
	width: 558px;
	transform: rotate(45deg);
	top: -3px;
	left: 0px;
}

#sb {
	width: 558px;
	transform: rotate(-45deg);
	top: 390px;
	left: -3px;
}

#s1 {
	top: -25px;
	left: -25px;
}

#s2 {
	top: -25px;
	left: 170px;
}

#s3 {
	top: -25px;
	left: 365px;
}

#s4 {
	top: 170px;
	left: -25px;
}

#s5 {
	top: 170px;
	left: 170px;
}

#s6 {
	top: 170px;
	left: 365px;
}

#s7 {
	top: 365px;
	left: -25px;
}

#s8 {
	top: 365px;
	left: 170px;
}

#s9 {
	top: 365px;
	left: 365px;
}





#circle {
	position: relative;
	background-color: #09f;
	margin: 20px auto;
	width: 400px;
	height: 400px;
	border-radius: 200px;
	border: 5px solid black;
}


#cv {
	width: 390px;
	transform: rotate(90deg);
	top: 0px;
	left: 197.5px;
}

#ch {
	width: 390px;
	top: 192.5px;
	left: 0px;
}

#ca {
	width: 398px;
	transform: rotate(45deg);
	top: 52px;
	left: 57px;
}

#cb {
	width: 398px;
	transform: rotate(-45deg);
	top: 334px;
	left: 52px;
}

#c1 {
	top: 30px;
	left: 30px;
}

#c2 {
	top: -25px;
	left: 170px;
}

#c3 {
	top: 30px;
	left: 305px;
}

#c4 {
	top: 170px;
	left: -25px;
}

#c5 {
	top: 170px;
	left: 170px;
}

#c6 {
	top: 170px;
	left: 365px;
}

#c7 {
	top: 305px;
	left: 30px;
}

#c8 {
	top: 365px;
	left: 170px;
}

#c9 {
	top: 305px;
	left: 305px;
}






section {
	float: left;
	height: 700px;
	border: 1px solid black;
	margin: 10px;
	padding: 40px;
	background-color: rgb(255, 204, 102);
	word-wrap: break-word;
}

@media (min-width: 0px) and (max-width:767px) {
	section[name="first"] {
		width: calc(100% - 20px);
		height: auto;
		width: 570px;
	}

	section[name="second"] {
		width: calc(100% - 20px);
		width: 570px;
	}

}

@media (min-width: 768px) and (max-width:1119px) {
	section[name="first"] {
		width: calc(100% - 20px);
		height: auto;
	}

	section[name="second"] {
		width: calc(100% - 20px);
	}

}

@media (min-width: 1120px) {
	section[name="first"] {
		width: calc(30% - 20px);
	}

	section[name="second"] {
		width: calc(70% - 20px);
	}

}