
* { 
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

body {
  background-color: rgb(255,255,255);
}

h1 {
	position: relative;
}

p {
	position: relative;
	margin-right: 20px;
}

img {
	position: relative;
	margin-left: -25px;
	margin-top: -25px;
	height: 100px;
    width: 100px;
}

input[id="rb_circle"]:checked ~ #square {
  display: none;
}

input[id="rb_circle"]:checked ~ #square_home {
  display: none;
}

input[id="rb_square"]:checked ~ #circle {
  display: none;
}

input[id="rb_square"]:checked ~ #circle_home {
  display: none;
}


#square {
	position: relative;
	background-color: #09f;
	margin: 0px auto;
	width: 400px;
	height: 400px;
	border: 5px solid black;
}

#vertical_s {
	content:"";
	position: absolute;
	border-top: 5px solid black;
	width: 390px;
	transform: rotate(90deg);
	transform-origin: 0% 0%;
	top: 0px;
	left: 197.5px;
}

#horizontal_s {
	content:"";
	position: absolute;
	align-content: right;
	border-top: 5px solid black;
	width: 390px;
	transform-origin: 0% 0%;
	top: 192.5px;
	left: 0px;
}

#diag1_s {
	content:"";
	position: absolute;
	border-top: 5px solid black;
	width: 558px;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	top: -3px;
	left: 0px;
}

#diag2_s {
	content:"";
	position: absolute;
	align-content: right;
	border-top: 5px solid black;
	width: 558px;
	transform: rotate(-45deg);
	transform-origin: 0% 0%;
	top: 390px;
	left: -3px;
}

#s1 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: -25px;
	left: -25px;
	width: 50px;
	height: 50px;
}

#s2 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: -25px;
	left: 170px;
	width: 50px;
	height: 50px;
}

#s3 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: -25px;
	left: 365px;
	width: 50px;
	height: 50px;
}

#s4 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 170px;
	left: -25px;
	width: 50px;
	height: 50px;
}

#s5 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 170px;
	left: 170px;
	width: 50px;
	height: 50px;
}

#s6 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 170px;
	left: 365px;
	width: 50px;
	height: 50px;
}

#s7 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 365px;
	left: -25px;
	width: 50px;
	height: 50px;
}

#s8 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 365px;
	left: 170px;
	width: 50px;
	height: 50px;
}

#s9 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);	top: 365px;
	left: 365px;
	width: 50px;
	height: 50px;
}





#circle {
	position: relative;
	background-color: #09f;
	margin: 20px auto;
	width: 400px;
	height: 400px;
	border-radius: 200px;
	border: 5px solid black;
}


#vertical_c {
	content:"";
	position: absolute;
	border-top: 5px solid black;
	width: 390px;
	transform: rotate(90deg);
	transform-origin: 0% 0%;
	top: 0px;
	left: 197.5px;
}

#horizontal_c {
	content:"";
	position: absolute;
	align-content: right;
	border-top: 5px solid black;
	width: 390px;
	transform-origin: 0% 0%;
	top: 192.5px;
	left: 0px;
}

#diag1_c {
	content:"";
	position: absolute;
	border-top: 5px solid black;
	width: 398px;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	top: 52px;
	left: 57px;
}

#diag2_c {
	content:"";
	position: absolute;
	align-content: right;
	border-top: 5px solid black;
	width: 398px;
	transform: rotate(-45deg);
	transform-origin: 0% 0%;
	top: 334px;
	left: 52px;
}

#c1 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 30px;
	left: 30px;
	width: 50px;
	height: 50px;
}

#c2 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: -25px;
	left: 170px;
	width: 50px;
	height: 50px;
}

#c3 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 30px;
	left: 305px;
	width: 50px;
	height: 50px;
}

#c4 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 170px;
	left: -25px;
	width: 50px;
	height: 50px;
}

#c5 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 170px;
	left: 170px;
	width: 50px;
	height: 50px;
}

#c6 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 170px;
	left: 365px;
	width: 50px;
	height: 50px;
}

#c7 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 305px;
	left: 30px;
	width: 50px;
	height: 50px;
}

#c8 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 365px;
	left: 170px;
	width: 50px;
	height: 50px;
}

#c9 {
	content:"";
	position: absolute;
	background-color: rgba(232,12,122,0.3);
	top: 305px;
	left: 305px;
	width: 50px;
	height: 50px;
}






section {
	float: left;
	height: 700px;
	border: 1px solid black;
	margin: 10px;
	padding: 40px;
	background-color: rgb(255, 204, 102);
	word-wrap: break-word;
}

@media (min-width: 0px) and (max-width:767px) {
	section[name="first"] {
		width: calc(100% - 20px);
		height: auto;
		width: 570px;
	}

	section[name="second"] {
		width: calc(100% - 20px);
		width: 570px;
	}

}

@media (min-width: 768px) and (max-width:1119px) {
	section[name="first"] {
		width: calc(100% - 20px);
		height: auto;
	}

	section[name="second"] {
		width: calc(100% - 20px);
	}

}

@media (min-width: 1120px) {
	section[name="first"] {
		width: calc(30% - 20px);
	}

	section[name="second"] {
		width: calc(70% - 20px);
	}

}